<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- v-model 实际上是一个语法糖 
    v-bind绑定value属性
    v-on监听表单元素的输入事件，并改变数据
-->
<body>   
    <div id="app">
       <h2>你最喜欢吃的水果 : {{mvp}}</h2>
       <label for="apple">苹果</label>
       <input id="apple" type="radio" v-model="mvp" value="苹果"/>
       <label for="pineapple">菠萝</label>
       <input id="pineapple" type="radio" v-model="mvp" value="菠萝"/>
       
       <br>
       <h2>你喜欢干的事情 {{allDefensiveTeam}}</h2>
       <label for="swimming"> 游泳
             <input id="swimming" type="checkbox" v-model="allDefensiveTeam" value="游泳"/>
       </label>
       <label for="study"> 学习
        <input id="study" type="checkbox" v-model="allDefensiveTeam" value="学习"/>
       </label>
        <label for="lookBook"> 看书
        <input id="lookBook" type="checkbox" v-model="allDefensiveTeam" value="看书"/>
        </label>
    </div>
    <!--从CDN引入vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        const app = new Vue({ //初始化一个VUE实例
            el: '#app',     // 用于页面渲染VUE实例的元素
            data: { // 定义数据
               mvp: '',
               allDefensiveTeam: []
            }
        })
    </script>
</body>
</html>